nav {
    background-color: #333333;
    height: 50px;

    ul {
        list-style: none;
        margin: 0;
        padding: 0;

        li {
            display: inline-block;

            a {
                display: block;
                color: #ffffff;
                text-decoration: none;
                padding: 15px;

                &:hover {
                    background-color: #7b00ff;
                }
            }
        }
    }
}
